/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1422px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

body {
   font-family: "lato", sans-serif;
   font-size: 20px;
   color: #2f302c;
}


/* ================================= */

.header {}

.header__container {
   padding-top: 40px;
   padding-bottom: 40px;
}

.header__body {
   display: flex;
   justify-content: space-between;
   gap: 18px;
}

.header__nav {}

.nav-header {

   display: flex;
   align-items: center;
   column-gap: 80px;
   row-gap: 20px;
   flex: 1 1 auto;
   flex-wrap: wrap;
}

.nav-header__logo-image {}

.nav-header__image {}

.nav-header__search {
   padding-top: 12px;
   padding-bottom: 12px;
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
   border-bottom: 1px solid #d4d4d4;
   position: relative;
   padding-left: 32px;
   /* flex-basis: 292px; */
   flex: 0 1 262px;

}

.nav-header__search::before {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   width: 20px;
   height: 20px;
   background: url("../img/loupe.svg") no-repeat;

}

.nav-header__list {
   display: flex;
   flex-wrap: wrap;
   gap: 44px;
}

.nav-header__item {}

.nav-header__link {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   text-transform: uppercase;
   position: relative;
}

.nav-header__link::after {
   content: "";
   position: absolute;
   bottom: -5px;
   left: 0;
   background-color: #2f302c;
   width: 0%;
   height: 1px;
   transition: width 0.3s;

}

.nav-header__link:hover::after {
   width: 100%;
}

.header__actions {}

.actions-header {
   display: flex;
   align-items: center;
   gap: 44px;
}

.actions-header__link {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   text-transform: uppercase;
   padding-left: 24px;
   position: relative;
}

.actions-header__link::after {
   content: "";
   position: absolute;
   bottom: -5px;
   left: 0;
   width: 0%;
   height: 1px;
   background-color: #2f302c;
   transition: width 0.3s;
}

.actions-header__link:hover::after {
   width: 100%;
}

.actions-header__link--heart::before {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   width: 20px;
   height: 20px;
   background: url("../img/heart.svg") no-repeat;
}

.actions-header__link--cart::before {
   content: "";
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   width: 20px;
   height: 20px;
   background: url("../img/shopping-bag.svg") no-repeat;
}


/* =================================================== */
.title {
   text-align: center;
   font-size: 32px;
   font-weight: 700;
   line-height: 1.25;
   text-transform: uppercase;
}

/* =================================================== */

.products {
   padding-top: 82px;
   padding-bottom: 82px;
}

.products__container {}

.products__body {}

.products__title {

   margin-bottom: 72px;
}

.products__items {
   display: flex;
   flex-wrap: wrap;
   column-gap: 36px;
   row-gap: 72px;
   justify-content: center;
   align-content: center;
}

.products__item {}

.item-product {
   display: flex;
   flex-direction: column;
   flex-basis: 380px;
   overflow: hidden;
   border: 1px solid transparent;
   transition: all 0.6s;
}
.item-product:hover {
   border: 1px solid #2f302c;
   border-radius: 6px;
}

.item-product__picture {
   background-color: #F6F6F6;
   overflow: hidden;
   margin-bottom: 32px;
}

.item-product__image {
   max-width: 100%;
   transition: scale 0.4s;
}

.item-product:hover .item-product__image {
   scale: 1.05;

}

.item-product__content>*:not(:last-child) {
   margin-bottom: 12px;
}

.item-product__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   max-width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.item-product__title {
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   text-transform: uppercase;
   flex-grow: 1;
}

.item-product__rating {
   justify-self: center;
}

.item-product__rating span {
   text-align: center;
   display: inline-block;
   width: 16px;
   height: 16px;
   background: url("../img/star.svg") no-repeat;
   transition: scale 0.3s;
}

.item-product__rating span:hover {
   scale: 1.1;
}

.item-product__price p {
   text-align: center;
   font-size: 20px;
   font-weight: 700;
   line-height: 1.40;
}

/* ================================================= */

.choose {
   padding-top: 72px;
   padding-bottom: 72px;
}

.choose__container {}

.choose__body {}

.choose__title {
   margin-bottom: 72px;
}


.choose__items {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 68px;
   text-align: center;
}

.choose__item {
}

.item-choose {
   flex: 0 1 348px;

}

.item-choose>*:not(:last-child) {
   margin-bottom: 24px;
}

.item-choose__picture {
   animation-name: rotate;
   animation-duration: 1s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}

.item-choose__image {
   max-width: 100%;
   width: 60px;
   height: 60px;
}

.item-choose__title {}

.item-choose__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
}

.item-choose__text p:not(:last-child) {
   margin-bottom: 15px;
}

@keyframes rotate {
   0% {
      rotate: -10deg;
   }

   100% {
      rotate: 10deg;
   }
}

/* ================== */
.footer__container p {
   text-align: center;
   color: #7e7f7c;
      font-size: 32px;
      font-weight: 500;
      line-height: 1.25;
}