@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: "PlayfairDisplay";
    src: url("../fonts/PlayfairDisplay.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}