/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1422px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

@media (max-width: 700px) {
   [class*="__container"] {
      padding-left: 10px;
      padding-right: 10px;
   }
}

body {
   font-family: "lato", sans-serif;
   font-size: 20px;
   color: #2f302c;
}


/* ================================= */

.header {}

.header__container {
   padding-top: 5px;
   padding-bottom: 5px;
}

.header__body {
   display: flex;
   gap: 10px 80px;
   min-height: 164px;
   align-items: center;
}

.header__link-logo {
   flex: 0 0 150px;
}

.header__logo {}

.header__search {}

.search-header {
   display: flex;
   align-items: center;
   flex-basis: auto;
   flex-grow: 1;
   flex-shrink: 1;
   column-gap: 6px;
   border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
   display: block;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 12px;
   padding-top: 12px;
}

.search-header__image {
   aspect-ratio: 1;
   max-width: 100%;
   /* object-fit: contain; */
   width: 20px;
   height: 20px;
}

.search-header__input {
   padding-top: 12px;
   /* padding-left: 12px; */
   padding-bottom: 12px;
}

.search-header__input:focus {
   outline: transparent;
}

.search-header__input::placeholder {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

.header__nav {}

.nav-header {
   display: flex;
   flex-grow: 1;
}

.nav-header__list {
   display: flex;
   column-gap: 44px;
   row-gap: 8px;
   flex-wrap: wrap;
   align-items: center;
}

.nav-header__item {}

.nav-header__link {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   /* 20/16 */
   text-transform: uppercase;
   position: relative;
}

.actions-header__link::after,
.nav-header__link::after {
   content: "";
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   width: 0%;
   height: 2px;
   background-color: #2f302c;
   transition: all 0.4s;
}

.actions-header__link:hover::after,
.nav-header__link:hover::after {
   width: 100%;
}

.header__actions {}

.actions-header {}

.actions-header__list {
   display: flex;
   column-gap: 44px;
   row-gap: 8px;
}

.actions-header__item {
   flex-shrink: 0;
}

.actions-header__picture {
   position: relative;
   flex-shrink: 0;

}

.actions-header__image {
   aspect-ratio: 1;
   max-width: 100%;
   width: 20px;
   height: 20px;
   flex-shrink: 0;
}

.actions-header__link {
   display: flex;
   gap: 4px;
   align-items: center;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   /* 20/16 */
   text-transform: uppercase;
   position: relative;
}

.icon-menu {
   display: none;
}

@media (max-width: 1215px) {
   .header__body {
      gap: 10px 40px;
      min-height: 130px;
   }

   .search-header {
      flex-basis: 200px;
      flex-grow: 0;
      flex-shrink: 1;
   }

   .nav-header__list,
   .actions-header__list {
      column-gap: 22px;
   }
}

@media (max-width: 1150px) {
   .header__body {
      gap: 10px 40px;
      min-height: 130px;
   }

   .nav-header__listб .actions-header__list {
      column-gap: 18px;

   }

}

@media (max-width: 935px) {
   .header__body {
      row-gap: 10px;
      column-gap: 25px;
      min-height: 100px;
   }

   .header__link-logo {
      flex: 1 0 100px;
   }

   .nav-header__list,
   .actions-header__list {
      column-gap: 12px;

   }

   .nav-header__link,
   .actions-header__link {
      font-size: 14px;
      line-height: 1;
   }
}

@media (max-width: 800px) {
   .header__body {
      gap: 10px 20px;
   }
}

@media (max-width: 768px) {
   .header__link-logo {
      flex: 0 0 27px;
   }

   .header__body {
      column-gap: 10px;
      min-height: 70px;
   }

}

@media (max-width: 768px) {
   .nav-header__list {
      display: none;

   }

   .actions-header__list {
      padding-left: 5px;
      padding-right: 15px;
      column-gap: 18px;
   }

   .search-header__input {
      padding-top: 2px;
      padding-bottom: 2px;
   }

   .search-header__input::placeholder {
      font-size: 16px;
   }

   .search-header__image {
      width: 16px;
      height: 16px;
   }
}

@media (width < 768px) {
   .header__container {
      min-height: 70px;
   }

   .icon-menu,
   .actions-header,
   .header__link-logo,
   .search-header {
      position: relative;
      z-index: 3;
   }

   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }

   .actions-header__picture::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 2px;
      background-color: #2f302c;
      transition: all 0.4s;
   }

   .actions-header__picture:hover::after {
      width: 100%;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 2px;
      width: 25px;
      position: absolute;
      right: 0;
      transition: all 0.3s;
      background-color: #2f302c;
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }

   .nav-header {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #f6f6f6;
      z-index: 1;
      overflow: auto;
      transition: left 0.3s;
      padding: 120px 15px 30px 15px;
   }

   .nav-header::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 80px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      background-color: #fff;
      z-index: 2;
   }

   .nav-header__list {
      row-gap: 30px;
      flex-direction: column;
      /* align-items: flex-end; */
   }

   .nav-header__link {
      font-size: 28px;
   }

   .header__search {
      flex-grow: 1;
   }

   .actions-header__link {
      display: block;
      font-size: 0;
      line-height: 1;
   }

   [data-menu-open] .icon-menu span {
      width: 0;
   }

   [data-menu-open] .icon-menu::before {
      rotate: -45deg;
      translate: 0 -50%;
      top: 50%;
   }

   [data-menu-open] .icon-menu::after {
      rotate: 45deg;
      translate: 0 50%;
      bottom: 50%;
   }

   [data-menu-open] .nav-header,
   [data-menu-open] .nav-header::before {
      left: 0;
   }

   html[data-menu-open] {
      overflow-y: hidden;
   }

   .nav-header {
      justify-content: center;
   }

   .nav-header__list {
      display: flex;
      flex-direction: column;
      row-gap: 22px;
      flex-wrap: nowrap;
      text-align: center;
   }

   .nav-header__link {
      font-size: 28px;
   }
}

@media (max-width: 400px) {

   .search-header__button {
      display: none;
   }

   .search-header__input {
      padding: 5px;
   }

   .search-header__input::placeholder {
      font-size: 16px;
   }

   .search-header__input:focus {
      outline: transparent;
      border: 1px solid #7e7f7c;
   }

}

/* ============================================================== */
.hero {
   /* background: url("../img/hero/hero-bg.jpg") center / cover no-repeat; */
   padding-top: 110px;
   padding-bottom: 110px;
   margin-bottom: 82px;
   max-height: 612px;
   position: relative;
}

.hero__bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   object-fit: cover;
   object-position: 30%;
}

@media (max-width: 673px) {
   .hero {
      margin-bottom: 35px;

   }
}

@media (max-width: 500px) {
   .hero {
      margin-bottom: 25px;

   }
}

.hero__container {
   max-width: 1132px;
}

.hero__content {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   justify-self: flex-end;
   /* align-items: center; */
   max-width: 518px;
}

.hero__sub-title {
   margin-bottom: 20px;
}

.hero__sub-title p {
   font-size: 20px;
   font-weight: 700;
   line-height: 1.40;
   /* 28/20 */

   text-transform: uppercase;
}

.hero__sub-title p:not(:last-child) {
   margin-bottom: 16px;

}

.hero__text {
   max-width: 374px;

}

.hero__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

.hero__text p:not(:last-child) {
   margin-bottom: 16px;

}

.hero__title {
   font-size: 96px;
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   line-height: 1.04;
   /* 100/96 */
   text-transform: uppercase;
   margin-bottom: 16px;
}

.hero__title+.decore-line {
   width: 61%;
   height: 1px;
   max-width: 308px;
   margin-bottom: 36px;
   background-color: #2f302c;

}

.hero__title span {
   font-weight: 700;
}

.hero__deco {
   max-width: 61%;
   height: 1px;
   border-bottom: 1px solid #2f302c;
   margin-bottom: 36px;
}

@media (max-width: 900px) {
   .hero__title {
      font-size: 76px;
   }
      .hero__text p {
         color: #2a2c27;
   
      }
}

@media (max-width: 700px) {
   .hero {
      padding-top: 80px;
      padding-bottom: 80px;
   }
      .hero__bg {
         object-position: 30%;
      }
   .hero__content {
      justify-self: auto;
      justify-content: center;
      align-items: center;
      max-width: 100%;
   }

   .hero__sub-title {
      margin-bottom: 15px;
   }

   .hero__sub-title p {
      font-size: 18px;
   }

   .hero__sub-title p:not(:last-child) {
      margin-bottom: 12px;

   }

   .hero__text {
      /* color: #2a2c27; */
      max-width: 300px;
      text-align: center;
   }

   .hero__text p {
      color: #2a2c27;

   }

   .hero__text p:not(:last-child) {
      margin-bottom: 12px;

   }

   .hero__title {
      font-size: 56px;
      margin-bottom: 12px;
   }
}

@media (max-width: 500px) {
   .hero__bg {
         object-position: 25%;
      }
   .hero__content {
      padding: 10px;
      border-radius: 32px;
      background-color: rgba(255, 255, 255, 0.192);
   }

   .hero__title {
      font-size: 46px;
      margin-bottom: 12px;
   }

}

@media (max-width: 400px) {
   .hero {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}

/* ==================================================================== */
.banner {
   padding-top: 82px;
   padding-bottom: 82px;
}

.banner__container {}

.banner__items {
   display: grid;
   gap: 36px;
   /* grid-template-columns: repeat(auto-fit, minmax(321px, 1fr)); */
   /*  */
   grid-template-columns: 321px 1fr 321px;
}

.banner__item {}

.item-banner {
   display: flex;
   row-gap: 80px;
   flex-direction: column;
   justify-content: space-between;
   background-color: #f7f7f7;
   padding: 64px 50px 64px 32px;
}

.item-banner--center {
   text-align: center;
}

.item-banner__picture {
   position: relative;
}

.item-banner__image {}

.item-banner__image--lamp-small {
   position: absolute;
   top: -64px;
   right: 40px;
}

.item-banner__image--lamp-big {
   position: absolute;
   top: -64px;
   right: 0;
}

.item-banner__image--chair {
   position: absolute;
   bottom: -64px;
   right: 0;
}

.item-banner__content {}

.item-banner__title {
   font-size: 20px;
   font-weight: 800;
   line-height: 1.40;
   /* 28/20 */
   text-transform: uppercase;
   margin-bottom: 24px;
}

.item-banner__text {
   margin-bottom: 38px;
}

.item-banner__text--limited {
   max-width: 310px;
   margin: 0 auto 18px;
}

.item-banner__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

.item-banner__text p:not(:last-child) {
   margin-bottom: 16px;
}

.item-banner__link {
   position: relative;
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

.item-banner__link:hover {
   text-decoration: underline;
}

.item-banner__link::after {
   content: "";
   width: 9px;
   height: 9px;
   position: absolute;
   top: 7px;
   right: -15px;
   background: url("../img/arrow.svg") center / contain no-repeat;
}

.item-banner--bg-green {
   background-color: #e6efea;
}

.item-banner--reverse {
   flex-direction: column-reverse;
}

@media (max-width: 1100px) {
   .banner {
      padding-top: 62px;
      padding-bottom: 62px;
   }

   .banner__items {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }

   .banner__items:nth-child(2) {
      grid-column: 1 / 2;
   }

   .item-banner--big {
      grid-column: span 2;
      grid-row: 1 / 1;
   }
}

@media (max-width: 768px) {
   .banner {
      padding-top: 42px;
      padding-bottom: 42px;
   }
}

@media (max-width: 673px) {
   .banner {
      padding-top: 35px;
      padding-bottom: 35px;
   }

   .item-banner {
      padding-left: 20px;
      padding-right: 20px;
   }
}

@media (max-width: 500px) {
   .banner {
      padding-top: 20px;
      padding-bottom: 20px;
   }

   .item-banner--big {
      grid-column: 1;
      grid-row: 1 / 1;
   }

   .item-banner {
      padding: 20px;
      min-height: 450px;
   }

   .banner__items {
      gap: 15px;
      grid-template-columns: auto;
   }

   .item-banner__image--lamp-small {
      top: -19px;
   }

   .item-banner__image--lamp-big {
      top: -19px;
   }

   .item-banner__image--chair {
      bottom: -20px;
   }
}

/* ================================================================ */
.trysted {
   padding-top: 82px;
   padding-bottom: 82px;
}




.trysted__container {}


.trysted__title {
   margin-bottom: 72px;
}





.title {
   text-align: center;
   color: #2f302c;
   font-size: 32px;
   font-weight: 800;
   line-height: 1.25;
   /* 40/32 */
   text-transform: uppercase;
}

.trysted__items {
   display: grid;
   /* grid-template-columns: repeat(6, 1fr); */
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   column-gap: 74px;
   row-gap: 68px;
}

@media (max-width: 1100px) {
   .trysted {
      padding-top: 52px;
      padding-bottom: 52px;
   }

   .trysted__items {
      gap: 50px;
   }
}

@media (max-width: 868px) {
   .trysted__items {
      gap: 40px;
   }
}

@media (max-width: 768px) {
   .trysted {
      padding-top: 35px;
      padding-bottom: 35px;
   }

   .trysted__items {
      gap: 30px;
   }

   .trysted__title {
      margin-bottom: 45px;
   }
}

@media (max-width: 673px) {
   .trysted {
      padding-top: 25px;
      padding-bottom: 25px;
   }

   .title {
      font-size: 28px;
   }

}

@media (max-width: 620px) {
   .trysted__items {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 20px;
   }

   .trysted__title {
      margin-bottom: 35px;
   }
}

@media (max-width: 500px) {
   .trysted__items {
      gap: 10px;
      grid-auto-flow: column;
      grid-auto-columns: 100px;
      overflow: auto;
   }

   .trysted__item {
      animation-name: runed-row;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear;
   }
}

@media (max-width: 450px) {
   .trysted {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .title {
      font-size: 24px;
   }
}

@keyframes runed-row {
   0% {}

   100% {
      translate: -1200% 0;
   }
}

.trysted__item {}

.item-trysted {
   align-self: center;
   justify-self: center;
}

.item-trysted__image {
   aspect-ratio: 1;
   max-width: 100%;
}

/* ========================================================= */


.products {
   padding-top: 82px;
   padding-bottom: 82px;
}


.products__container {}

.products__body {}

.products__list {}

.products__title {
   margin-bottom: 72px;
}





.products__items {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
   column-gap: 36px;
   row-gap: 72px;
   justify-content: center;
   align-content: center;
}

@media (max-width: 1100px) {
   .products {
      padding-top: 52px;
      padding-bottom: 52px;
   }

   .products__items {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
}

@media (max-width: 830px) {
   .products__items {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      column-gap: 26px;
      row-gap: 52px;
   }
}

@media (max-width: 768px) {
   .products {
      padding-top: 35px;
      padding-bottom: 35px;
   }

   .products__items {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      column-gap: 20px;
      row-gap: 40px;
   }

   .products__title {
      margin-bottom: 45px;
   }
}

@media (max-width: 673px) {
   .products {
      padding-top: 42px;
      padding-bottom: 42px;
   }
}

@media (max-width: 450px) {
   .products {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .products__items {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      column-gap: 26px;
      row-gap: 32px;
   }
}

.products__item {}

.item-product {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   overflow: hidden;
   border: 1px solid transparent;
   transition: all 0.6s;
}

.item-product:hover {
   border: 1px solid #2f302c;
   border-radius: 6px;
}

.item-product__picture {
   background-color: #F6F6F6;
   overflow: hidden;
   margin-bottom: 32px;
}

.item-product__image {
   max-width: 100%;
   aspect-ratio: 440 / 574;
   object-fit: cover;
   transition: scale 0.4s;
}

.item-product:hover .item-product__image {
   scale: 1.05;
}

.item-product__content>*:not(:last-child) {
   margin-bottom: 12px;
}

.item-product__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   max-width: 100%;
   padding-left: 10px;
   padding-right: 10px;
}

.item-product__title {
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   text-transform: uppercase;
   flex-grow: 1;
}

.item-product__rating {
   justify-self: center;
}

.item-product__rating span {
   text-align: center;
   display: inline-block;
   width: 16px;
   height: 16px;
   background: url("../img/star.svg") no-repeat;
   transition: scale 0.3s;
}

.item-product__rating span:hover {
   scale: 1.1;
}

.item-product__price p {
   text-align: center;
   font-size: 20px;
   font-weight: 700;
   line-height: 1.40;
}

@media (max-width: 621px) {
   .item-product__title {
      font-size: 14px;
   }

   .item-product__price p {
      font-size: 16px;
   }
}

/* ================================================= */

.choose {
   padding-top: 82px;
   padding-bottom: 82px;
}



.choose__container {}

.choose__body {}

.choose__title {
   margin-bottom: 72px;
}

@media (max-width: 1100px) {
   .choose {
      padding-top: 52px;
      padding-bottom: 52px;
   }
}

@media (max-width: 768px) {
   .choose__title {
      margin-bottom: 45px;
   }
}

@media (max-width: 673px) {
   .choose {
      padding-top: 42px;
      padding-bottom: 42px;
   }
}

@media (max-width: 620px) {
   .choose__title {
      margin-bottom: 35px;
   }
}

@media (max-width: 450px) {
   .choose {
      padding-top: 25px;
      padding-bottom: 25px;
   }
}

.choose__items {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
   justify-content: center;
   align-items: start;
   gap: 68px;
   text-align: center;
}

@media (max-width: 1210px) {
   .choose__items {
      gap: 40px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
}

@media (max-width: 1100px) {
   .choose__items {
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
   }
}

.choose__item {}

.item-choose {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.item-choose>*:not(:last-child) {
   margin-bottom: 24px;
}

.item-choose__picture {
   animation-name: rotate;
   animation-duration: 1s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
}

.item-choose__image {
   max-width: 100%;
   width: 60px;
   height: 60px;
   aspect-ratio: 1;
}

.item-choose__title {
   flex-grow: 1;
   flex-shrink: 1;
}

.item-choose__text {
   flex-grow: 1;
}

.item-choose__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   max-width: 348px;
}

.item-choose__text p:not(:last-child) {
   margin-bottom: 15px;
}

@keyframes rotate {
   0% {
      rotate: -10deg;
   }

   100% {
      rotate: 10deg;
   }
}

/* ================== */
.footer__container p {
   text-align: center;
   color: #7e7f7c;
   font-size: 32px;
   font-weight: 500;
   line-height: 1.25;
}