/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1230px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

@media (max-width: 700px) {
   [class*="__container"] {
      padding-left: 10px;
      padding-right: 10px;
   }
}

[class*="--padding"] {
   padding-top: 65px;
   padding-bottom: 65px;
}

@media (max-width: 1000px) {
   [class*="--padding"] {
      padding-top: 35px;
      padding-bottom: 35px;
   }
}

body {
   font-family: "Montserat", sans-serif;
   font-size: 19px;
   color: #343434;
}


/* ======================= COMPONENT ====================== */

.title {
   color: #ba936f;
   font-size: 35px;
   font-family: "Lora", serif;
   font-weight: 400;
   text-transform: uppercase;
}

.button {
   display: inline;
   flex-shrink: 0;
   flex-grow: 0;
   padding: 10px 47px;
   font-family: "Montserat", sans-serif;
   /* max-width: 166px; */
   border-radius: 15px;
   background-color: #BA936F;
   border: 2px solid #BA936F;
   color: #fff;
   font-size: 17px;
   line-height: 1.23;
   /* 21/17 */
   font-weight: 500;
   text-transform: capitalize;
   transition: background-color 0.4s, color 0.4s;
}

.button:hover {
   background-color: transparent;
   color: #343434;
}

@media (max-width: 990px) {
   .button {
      padding-right: 30px;
      padding-left: 30px;
   }
}

/* ========================= HEADER  ============================ */

.header {}

.header__container {
   padding-top: 5px;
   padding-bottom: 5px;
}

.header__body {
   min-height: 105px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   column-gap: 30px;
   row-gap: 15px;
}

.header__picture {
   transition: scale 0.4s;
}

.header__picture:hover {
   scale: 1.05;
}

.header__image {
   aspect-ratio: 124 / 44;
   max-width: 100%;
}

.header__nav {}

.nav-header {}

.nav-header__list {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 51px;
   row-gap: 20px;
   flex-wrap: wrap;
}

.nav-header__item {}

.nav-header__link {
   padding: 5px;
   font-size: 16px;
   font-weight: 400;
   text-transform: capitalize;
}

.nav-header__link:hover {
   text-decoration: underline;
}

.header__button {}

.icon-menu {
   display: none;
}

@media (max-width: 990px) {
   .header__body {
      min-height: 60px;
      column-gap: 15px;
   }

   .nav-header__list {
      column-gap: 20px;
      row-gap: 15px;
   }

   .header__picture {
      flex-basis: 100px;
   }
}



@media (width < 768px) {

   .icon-menu,
   .header__picture,
   .nav-header,
   .header__button {
      position: relative;
      z-index: 3;
   }

   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      right: 0;
      transition: all 0.3s;
      background-color: #ba936f;
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }

   .nav-header {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #FFF1EA;
      z-index: 1;
      overflow: auto;
      transition: left 0.3s;
      padding: 120px 15px 30px 15px;
   }

   .nav-header::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 70px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      background-color: #fff;
      z-index: 2;
   }

   [data-menu-open] .icon-menu span {
      width: 0;
   }

   [data-menu-open] .icon-menu::before {
      rotate: -45deg;
      translate: 0 -50%;
      top: 50%;
   }

   [data-menu-open] .icon-menu::after {
      rotate: 45deg;
      translate: 0 50%;
      bottom: 50%;
   }

   [data-menu-open] .nav-header,
   [data-menu-open] .nav-header::before {
      left: 0;
   }

   html[data-menu-open] {
      overflow-y: hidden;
   }
}

@media (width < 768px) {
   .header__picture {
      flex-grow: 1;
   }

   .nav-header__list {
      align-items: flex-end;
      flex-direction: column;
   }

   .nav-header__link {
      color: #6b6a6a;
      font-size: 26px;
   }
}

/* ==================== HERO SECTION ======================== */

.hero {}


.hero__container {}

.hero__body {
   display: flex;
   gap: 27px;
}

.hero__content {
   align-self: center;
   flex-basis: 57.25%;
}

.hero__title {
   color: #ba936f;
   font-size: 50px;
   font-family: "Lora", serif;
   font-weight: 400;
   text-transform: uppercase;
   margin-bottom: 70px;
}

.hero__text {
   max-width: 638px;
   margin-bottom: 60px;
}

.hero__text p {
   color: #343434;
   font-size: 19px;
   line-height: 1.42;
   /* 27/19 */
}

.hero__text p:not(:last-child) {
   margin-bottom: 20px;
}

.hero__link {}

.hero__link {
   display: flex;
   gap: 6px;
   align-items: center;
   position: relative;
   left: 60px;
}

.hero__link::before {
   content: "";
   position: absolute;
   width: 100px;
   height: 100px;
   top: -150%;
   /* translate: 0 50%; */
   left: -60px;
   background: url("../img/circle.svg") center / cover no-repeat;
}



.hero__picture {
   flex-basis: 40.50%;
   overflow: hidden;
   border-radius: 33px;
}

.hero__image {
   max-width: 100%;
   aspect-ratio: 486 / 647;
}

@media (max-width: 1000px) {
   .hero__title {
      font-size: 35px;
      margin-bottom: 35px;
   }

   .hero__link {
      left: 45px;
   }

   .hero__link::before {
      width: 80px;
      height: 80px;
      top: -110%;
      left: -45px;
   }
}

@media (max-width: 822px) {
   .hero__title {
      font-size: 30px;
      margin-bottom: 25px;
   }

   .hero__link {
      left: 45px;
   }

   .hero__link::before {
      width: 70px;
      height: 70px;
      top: -90%;
      left: -45px;
   }

   .hero__text {
      margin-bottom: 40px;
   }
}

@media (max-width: 750px) {
   .hero__body {
      flex-direction: column;
   }

   .hero__title {
      text-align: center;
      font-size: 30px;
      margin-bottom: 25px;
   }
   .hero__text{
      text-align: center;
      max-width: none;
   }
   .hero__link {
      left: 45px;
   }

   .hero__link::before {
      width: 70px;
      height: 70px;
      top: -90%;
      left: -45px;
   }

   .hero__text {
      margin-bottom: 40px;
   }
}