/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 76.875rem;
   padding-left: 0.9375rem;
   padding-right: 0.9375rem;
   margin: 0 auto;
}

@media (max-width: 43.75rem) {
   [class*="__container"] {
      padding-left: 0.625rem;
      padding-right: 0.625rem;
   }
}

[class*="--padding"] {
   padding-top: 4.0625rem;
   padding-bottom: 4.0625rem;
}

@media (max-width: 62.5rem) {
   [class*="--padding"] {
      padding-top: 35px;
      padding-bottom: 35px;
   }
}

@media (max-width: 51.5625rem) {
   [class*="--padding"] {
      padding-top: 1.5625rem;
      padding-bottom: 1.5625rem;
   }
}

body {
   font-family: "PlayfairDisplay", serif;
   font-weight: 400;
   font-size: 1rem;
   color: #000;
}


/* ======================= COMPONENT ====================== */

.title {
   text-align: center;
   font-size: 1.875rem;
   line-height: 1.33;
   /* 40/30 */
   text-transform: capitalize;
}

.button {
   padding: 0.5rem 0.875rem;
   border: 0.0625rem solid #fff;
   color: #fff;
   font-size: 0.8125rem;
   line-height: 1.30;
   transition: all 0.4s;
   /* 17/13 */
   display: inline-block;
   text-align: center;
   max-width: 8.1875rem;
   margin: 0 auto;
}


.button:hover {
   text-decoration: underline;
   color: #000;
   background-color: #fff;
}

.button--black {
   padding: 0.625rem 3.125rem;
   border: 0.0625rem solid #000000;
   color: #000000;
   transition: all 0.4s;
   /* 17/13 */
}

.button--black:hover {
   text-decoration: underline;
   color: #ffffff;
   background-color: #000000;
}

/* ======================= HEADER========================== */

.header {
   color: #fff;
   position: absolute;
   left: 0;
   right: 0;
}

.header__container {
   /* max-width: 70.5rem; */
   /* background-color: rgba(0, 0, 0, 0.796); */
   border-radius: 2rem;
}

.header__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-inline: 1.5rem;
   padding-block: 1.5rem;
   gap: 1.25rem;
}

.header__logo {}

.header__logo-link {
   color: #fff;
   font-size: 2.25rem;
   line-height: 1.33;
   /* 48/36 */
   text-transform: uppercase;
   flex-basis: 7.5rem;
}

@media (max-width: 56.25rem) {
   .header__logo-link {
      font-size: 1.45rem;
   }
}

@media (max-width: 48rem) {

   .header__logo-link {
      font-size: 1.2rem;
   }
}

.header__nav {}

.nav-header {}

.nav-header__list {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 2rem;
   row-gap: 0.625rem;
}

.nav-header__item {
   flex-grow: 1;
}

.nav-header__link {
   position: relative;
   color: #fff;
   font-size: 0.75rem;
   line-height: 1.33;
   /* 16/12 */
   text-transform: capitalize;
   transition: all 0.3s;
}

.nav-header__link::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0%;
   background-color: #fff;
   height: 0.0625rem;
   transition: all 0.3s;
}

.nav-header__link:hover::after {
   width: 100%;
   translate: 0 0.1875rem;
}

.nav-header__link:hover {
   translate: 0 -0.1875rem;
}

.icon-menu {
   display: none;
}

@media (width <=48rem) {

   .icon-menu,
   .header__logo,
   .nav-header {
      position: relative;
      z-index: 3;
   }

   .icon-menu {
      display: block;
      height: 2.1875rem;
      width: 2.1875rem;
      flex-shrink: 0;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 0.25rem;
      width: 2.1875rem;
      position: absolute;
      right: 0;
      border-radius: 0.125rem;
      transition: all 0.4s;
      background-color: #fffffe;
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }

   .nav-header {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      /* background-color: #FFF1EA; */
      background-color: rgba(0, 0, 0, 0.796);
      z-index: 1;
      overflow: auto;
      transition: left 0.4s;
      padding: 7.5rem 5.125rem 1.875rem 5.125rem;
   }

   .nav-header::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 4.375rem;
      top: 0;
      left: 100%;
      transition: left 0.4s;
      /* background-color: #fff; */
      background-color: rgba(0, 0, 0, 0.796);
      z-index: 2;
   }

   [data-menu-open] .icon-menu span {
      width: 0;
   }

   [data-menu-open] .icon-menu::before {
      rotate: -45deg;
      translate: 0 -50%;
      top: 50%;
   }

   [data-menu-open] .icon-menu::after {
      rotate: 45deg;
      translate: 0 50%;
      bottom: 50%;
   }

   [data-menu-open] .nav-header,
   [data-menu-open] .nav-header::before {
      left: 0;
   }

   html[data-menu-open] {
      overflow-y: hidden;
   }

   .nav-header__list {
      align-items: flex-end;
      flex-direction: column;
   }

   .nav-header__link {
      font-size: 1.625rem;
   }

   .header__body {
      padding-inline: 0.5rem;
   }
}

@media (width < 34.375rem) {


   .nav-header {
      padding: 6.5rem 1.125rem 1.575rem 1.125rem;
   }

   .nav-header__list {
      align-items: center;
   }
}

/* ============== HERO SECTION ===================== */

.hero {
   color: #fff;
   width: 100svw;
   height: 100svh;
   background: url("../img/hero/hero-bg-x2.jpg") center / cover no-repeat;
   /* display: flex; */
}

.hero__container {
   height: 100svh;
   display: flex;
   justify-content: flex-end;
}

.hero__content {
   display: flex;
   position: relative;
   top: 10.9375rem;
   flex-direction: column;
   align-items: center;
   padding: 1.375rem;
   max-height: calc(100% - 10.9375rem);
}

.hero__title {
   font-size: 2.9375rem;
   text-transform: capitalize;
   line-height: 1.34;
   /* 63/47 */
   margin-bottom: 1.5rem;
}

.hero__sub-title p {
   color: #fff;
   font-size: 0.875rem;
   line-height: 1.35;
   /* 19/14 */
}

.hero__sub-title {
   margin-bottom: 5rem;
}

@media (max-width: 68.75rem) {
   .hero__sub-title {
      margin-bottom: 3.75rem;
   }
}

.hero__sub-title p:not(:last-child) {
   margin-bottom: 0.9375rem;
}

.hero__button {}


@media (width <=768px) {
   .hero__container {
      justify-content: center;
   }

   .hero__title {
      font-size: 2.1875rem;
      margin-bottom: 1.2rem;
   }

   .hero__sub-title {

      margin-bottom: 2.5rem;
   }

   .hero__sub-title p {
      font-size: 0.7125rem;
   }

   .hero__content {
      top: 6.9375rem;
      justify-content: center;
      padding: 1rem;
      max-height: calc(100% - 15.9375rem);
      /* background-color: rgba(22, 17, 17, 0.312); */
      border-radius: 0.375rem;
   }
}

/* ============================ ABOUT SECTION ========================== */

.about {}

.about__container {
   padding-top: 5.25rem;
   padding-bottom: 6.25rem;
}


.about__body {
   display: flex;
   flex-direction: column;
   /* align-items: center; */
}

.about__title {

   margin-bottom: 7.1875rem;
}

.about__content {}

.content-about {
   display: flex;
   align-items: center;
   margin-bottom: 8.4375rem;
   column-gap: 1.875rem;
   row-gap: 1.25rem;
   flex-grow: 1;
   justify-content: space-between;
}


.content-about__block-text {
   /* display: flex;
   align-items: center; */
   flex-basis: 28.125rem;
}

.content-about__title {
   font-size: 1.875rem;
   line-height: 1.33;
   margin-bottom: 2.1875rem;
}

.content-about__text p {
   color: #000;
   line-height: 1.31;
   /* 21/16 */
}



.content-about__text p:not(:last-child) {
   margin-bottom: 2.1875rem;
}

.content-about__picture {}

.content-about__picture img {
   max-width: 100%;
   aspect-ratio: 316 / 485;
   object-fit: cover;
}

.about__button {}

@media (max-width: 68.75rem) {
   .about__container {
      padding-top: 2.5rem;
      padding-bottom: 3.125rem;
   }
}

@media (max-width: 48rem) {
   .about__container {
      padding-bottom: 2.5rem;
   }

   .about__title {
      margin-bottom: 2.8125rem;
   }

   .content-about {
      flex-direction: column;
      margin-bottom: 2.8125rem;
      column-gap: 1.875rem;
      row-gap: 2.50rem;
   }

   .content-about__block-text {
      flex-basis: auto;
   }

   .content-about__title {
      margin-bottom: 1.1875rem;
   }

   .content-about__text {}

   .content-about__picture img {
      width: 100svh;

   }
}

/* ============================= COSMETICS SECTION ======================= */


.cosmetics {}

.cosmetics__container {
   max-width: 49.6875rem;
}

.cosmetics__body {
   display: flex;
   flex-direction: column;
}

.cosmetics__title {
   margin-bottom: 1.9375rem;
}

.cosmetics__nav {
   text-align: center;
   margin-bottom: 6.25rem;
}

.cosmetics__item:not(:last-child) {
   margin-bottom: 1.375rem;
}

.cosmetics__link {}

.cosmetics__link {
   position: relative;
   line-height: 1.31;
   /* 21/16 */
}

.cosmetics__link::after {
   content: "";
   bottom: -0.625rem;
   left: -1.0625rem;
   width: 0%;
   height: 0.125rem;
   background-color: #000;
   position: absolute;
   transition: all 0.3s;

}

.cosmetics__link:hover::after {
   width: calc(100% + 2.125rem);
}

.cosmetics__content {}

.content-cosmetic {
   display: grid;
   align-items: center;
   justify-content: center;
   gap: 5.625rem;
   grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      margin-bottom: 7.375rem;
   /* grid-auto-rows: 1fr; */
}

.content-cosmetic__item {
   align-self: start;
}
.content-cosmetic__item:hover{
   text-decoration: underline;
}
.content-cosmetic__item img:hover {
   scale: 1.05;
}
.content-cosmetic__item figure {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   /* align-self: start; */

}

.content-cosmetic__image {
   margin-bottom: 1rem;
   transition: all 0.3s;
}

.content-cosmetic__image img {
   /* display: block; */
   width: 100%;
   aspect-ratio: 200 / 209;
}

.content-cosmetic__title {
   font-size: 1.25rem;
   line-height: 1.35;
   /* 27/20 */
   text-transform: capitalize;
}

@media (max-width: 768px) {
   .content-cosmetic {
      gap: 3.8125rem;
      margin-bottom: 3.375rem;
   }

   .cosmetics__title {
      margin-bottom: 1rem;
   }

   .cosmetics__nav {
      text-align: center;
      margin-bottom: 3.25rem;
   }
}

@media (max-width: 700px) {
   .content-cosmetic {

      gap: 2rem;
   }

   .content-cosmetic__title {
      font-size: 1rem;
   }
}

.cosmetics__button {}

@media (max-width: 600px) {
   .content-cosmetic__title {
      font-size: 1rem;
   }

}

/* ===================================== */
.footer {}

.footer__container {
   padding: 2rem;
}

.footer__link {
   font-size: 1.625rem;
   line-height: 1.3;
   text-transform: uppercase;
}
.footer__link:hover {
   text-decoration: underline;
}