/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: clip;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: 1422px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

@media (max-width: 700px) {
   [class*="__container"] {
      padding-left: 10px;
      padding-right: 10px;
   }
}

body {
   font-family: "lato", sans-serif;
   font-size: 20px;
   color: #2f302c;
}


/* ================================= */

.header {}

.header__container {
   padding-top: 5px;
   padding-bottom: 5px;
}

.header__body {
   display: flex;
   gap: 10px 80px;
   min-height: 164px;
   align-items: center;
}

.header__link-logo {
   flex: 1 0 150px;
}

.header__logo {}

.header__search {}

.search-header {
   display: flex;
   align-items: center;
   flex-basis: auto;
   flex-grow: 1;
   flex-shrink: 1;
   column-gap: 6px;
   border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
   display: block;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 12px;
   padding-top: 12px;
}

.search-header__image {
   aspect-ratio: 1;
   max-width: 100%;
   /* object-fit: contain; */
   width: 20px;
   height: 20px;
}

.search-header__input {
   padding-top: 12px;
   /* padding-left: 12px; */
   padding-bottom: 12px;
}

.search-header__input:focus {
   outline: transparent;
}

.search-header__input::placeholder {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

.header__nav {}

.nav-header {
   display: flex;
   flex: 1 1 350px;
}

.nav-header__list {
   display: flex;
   column-gap: 44px;
   row-gap: 8px;
   flex-wrap: wrap;
   align-items: center;
}

.nav-header__item {}

.nav-header__link {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   /* 20/16 */
   text-transform: uppercase;
   position: relative;
}

.actions-header__link::after,
.nav-header__link::after {
   content: "";
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   width: 0%;
   height: 2px;
   background-color: #2f302c;
   transition: all 0.4s;
}

.actions-header__link:hover::after,
.nav-header__link:hover::after {
   width: 100%;
}

.header__actions {}

.actions-header {}

.actions-header__list {
   display: flex;
   column-gap: 44px;
   row-gap: 8px;
}

.actions-header__item {
   position: relative;
}

.actions-header__item--cart::before,
.actions-header__item--love::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   width: 20px;
   height: 20px;

}

.actions-header__item--love::before {
   background: url("../img/heart.svg");
}

.actions-header__link {
   padding-left: 24px;
   font-size: 16px;
   font-weight: 700;
   line-height: 1.25;
   /* 20/16 */
   text-transform: uppercase;
   position: relative;
}

.actions-header__item--cart::before {
   background: url("../img/shopping-bag.svg");
}

.icon-menu {
   display: none;
}

@media (max-width: 1150px) {
   .header__body {
      gap: 10px 40px;
      min-height: 130px;
   }

   .nav-header__list {
      column-gap: 22px;

   }

   .actions-header__list {
      column-gap: 22px;
   }
}

@media (max-width: 935px) {
   .header__body {
      gap: 10px 25px;
      min-height: 100px;
   }

   .header__link-logo {
      flex: 1 0 100px;
   }

   .nav-header__list,
   .actions-header__list {
      column-gap: 16px;

   }

   .nav-header__link,
   .actions-header__link {
      font-size: 14px;
      line-height: 1;
   }
}

@media (max-width: 800px) {
   .header__body {
      gap: 10px 20px;
   }
}

@media (max-width: 768px) {
   .header__link-logo {
      flex: 0 0 27px;
   }

   .header__body {
      column-gap: 20px;
      min-height: 70px;
   }

   .actions-header__item--cart::before,
   .actions-header__item--love::before {
      top: 2px;
      left: 2.5px;

   }
}

@media (max-width: 768px) {
   .nav-header__list {
      display: none;

   }

   .search-header__input {
      padding-top: 2px;
      padding-bottom: 2px;
   }

   .search-header__input::placeholder {
      font-size: 14px;
   }

   .search-header__image {
      width: 14px;
      height: 14px;
   }
}

@media (width < 768px) {
   .header__container {
      min-height: 70px;
   }

   .icon-menu,
   .actions-header,
   .header__link-logo,
   .search-header {
      position: relative;
      z-index: 3;
   }

   .icon-menu {
      display: block;
      width: 30px;
      height: 18px;
      flex-shrink: 0;
   }

   .icon-menu span,
   .icon-menu::before,
   .icon-menu::after {
      content: "";
      height: 2px;
      width: 30px;
      position: absolute;
      right: 0;
      transition: all 0.3s;
      background-color: #2f302c;
   }

   .icon-menu::before {
      top: 0;
   }

   .icon-menu::after {
      bottom: 0;
   }

   .icon-menu span {
      top: 50%;
      translate: 0 -50%;
   }

   .nav-header {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100%;
      background-color: #f6f6f6;
      z-index: 1;
      overflow: auto;
      transition: left 0.3s;
      padding: 120px 15px 30px 15px;
   }

   .nav-header::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 80px;
      top: 0;
      left: 100%;
      transition: left 0.3s;
      background-color: #fff;
      z-index: 2;
   }

   .nav-header__list {
      row-gap: 30px;
      flex-direction: column;
      /* align-items: flex-end; */
   }

   .nav-header__link {
      font-size: 28px;
   }

   .header__search {
      flex-grow: 1;
   }

   .actions-header__link {
      display: block;
      width: 25px;
      aspect-ratio: 1;
      padding-left: 0;
      font-size: 0;
      line-height: 1;
      background-size: contain;
   }

   [data-menu-open] .icon-menu span {
      width: 0;
   }

   [data-menu-open] .icon-menu::before {
      rotate: -45deg;
      translate: 0 -50%;
      top: 50%;
   }

   [data-menu-open] .icon-menu::after {
      rotate: 45deg;
      translate: 0 50%;
      bottom: 50%;
   }

   [data-menu-open] .nav-header,
   [data-menu-open] .nav-header::before {
      left: 0;
   }

   .nav-header {
      justify-content: center;
      /* align-items: center; */
   }

   .nav-header__list {
      display: flex;
      flex-direction: column;
      row-gap: 22px;
      flex-wrap: nowrap;
      text-align: center;
   }

   .nav-header__link {
      font-size: 28px;
   }
}

@media (max-width: 400px) {

   .search-header__button {
      display: none;
   }

   .search-header__input {
      padding: 5px;
   }

   .search-header__input::placeholder {
      font-size: 13px;
   }

   .search-header__input:focus {
      outline: transparent;
      border: 1px solid #7e7f7c;
   }

}

/* ============================================================== */
.hero {
   background: url("../img/hero/hero-bg.jpg") center / cover no-repeat;
   padding-top: 110px;
   padding-bottom: 110px;
}

.hero__container {
   max-width: 1132px;
}

.hero__content {
   display: flex;
   flex-direction: column;
   justify-self: flex-end;
   /* align-items: center; */
   max-width: 518px;
}

.hero__sub-title {
   margin-bottom: 20px;
}

.hero__sub-title p {
   font-size: 20px;
   font-weight: 700;
   line-height: 1.40;
   /* 28/20 */

   text-transform: uppercase;
}

.hero__sub-title p:not(:last-child) {
   margin-bottom: 16px;

}

.hero__text {
   max-width: 374px;

}

.hero__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

.hero__text p:not(:last-child) {
   margin-bottom: 16px;

}

.hero__title {
   font-size: 96px;
   font-family: "Montserrat", sans-serif;
   font-weight: 800;
   line-height: 1.04;
   /* 100/96 */
   text-transform: uppercase;
   margin-bottom: 16px;
}

.hero__title + .decore-line {
   width: 61%;
   height: 1px;
   max-width: 308px;
   margin-bottom: 36px;
   background-color: #2f302c;

}

.hero__title span {
   font-weight: 700;
}

.hero__deco {
   max-width: 61%;
   height: 1px;
   border-bottom: 1px solid #2f302c;
   margin-bottom: 36px;
}

@media (max-width: 900px) {
   .hero__title {
      font-size: 76px;
   }
}

@media (max-width: 700px) {
   .hero {
      padding-top: 80px;
      padding-bottom: 80px;
   }

   .hero__content {
      justify-self: auto;
      justify-content: center;
      align-items: center;
      max-width: 100%;
   }

   .hero__sub-title {
      margin-bottom: 15px;
   }

   .hero__sub-title p {
      font-size: 18px;
   }

   .hero__sub-title p:not(:last-child) {
      margin-bottom: 12px;

   }

   .hero__text {
      color: #2a2c27;
      max-width: 300px;
      text-align: center;
   }

   .hero__text p {
      color: #2a2c27;

   }

   .hero__text p:not(:last-child) {
      margin-bottom: 12px;

   }

   .hero__title {
      font-size: 56px;
      margin-bottom: 12px;
   }
}

@media (max-width: 500px) {
   .hero__content {
      padding: 10px;
      border-radius: 32px;
      background-color: rgba(255, 255, 255, 0.192);
   }

   .hero__title {
      font-size: 46px;
      margin-bottom: 12px;
   }

}

@media (max-width: 400px) {
   .hero {
      padding-top: 40px;
      padding-bottom: 40px;
   }
}