/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

[class*="__container"] {
   max-width: 1920px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

body {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
}


/* ================================= */

.header {}

.header__container {
   background: #1a1919;
   background: linear-gradient(27deg, rgba(26, 25, 25, 0.64) 0%,
         rgba(74, 73, 73, 1) 10%,
         rgba(95, 93, 93, 0.92) 25%,
         rgba(99, 97, 97, 0.93) 19%,
         rgba(92, 89, 89, 0.92) 29%,
         rgba(115, 115, 115, 1) 40%,
         rgba(92, 92, 92, 0.27) 51%,
         rgba(122, 120, 120, 1) 61%,
         rgba(135, 133, 133, 1) 72%,
         rgba(173, 170, 170, 1) 81%,
         rgba(212, 212, 212, 1) 92%,
         rgba(194, 194, 194, 0.28) 100%);
}

.header__nav {
   max-width: 500px;
   margin: 0 auto;
   padding: 12px;
}

.header__logo {
   font-size: 26px;
   text-transform: uppercase;
   letter-spacing: 5px;
   text-shadow: 3px 2px 3px #252b42;
   padding-right: 32px;
}

.header__link,
.footer__link {
   padding-right: 32px;
   font-size: 22px;
   text-decoration: underline;
}

/* ================================== */

.footer__link {
   padding: 30px;
}

/* ================================ */
.hero {}

.hero__container {
   /* background-image: url("../img/furniture/section-bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
   background: url("../img/furniture/section-bg.jpg") center / cover no-repeat;
   margin-bottom: 80px;
}

.hero__body {
   max-width: 1132px;
   margin: 0 auto;
   padding-top: 115px;
   padding-bottom: 110px;
}

.hero__content {

   max-width: 520px;
   margin: 0 0 0 auto;
}

.hero__sub-title {
   color: #2f302c;
   font-size: 20px;
   font-family: "Lato", sans-serif;
   font-weight: 700;
   line-height: 1.4;
   /* 28/20 */
   text-transform: uppercase;
   margin-bottom: 20px;
}

.hero__title {
   color: #2f302c;
   font-size: 96px;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   line-height: 1.1;
   /* 100/96 */
   text-transform: uppercase;
   margin-bottom: 10px;
}

.hero__title span {
   font-weight: 800;
}

.underline {
   margin-bottom: 36px;
   height: 1px;
   max-width: 308px;
   font-weight: 700;
   border-bottom: 1px solid #2f302c;

}

.hero__text {
   max-width: 375px;
}

.hero__text p {
   color: #7e7f7c;
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 500;
   line-height: 1.25;
   /* 20/16 */
}

/* ================================ */

.plan {}

.plan__container {
   margin-bottom: 80px;

}

.plan__title {
   color: rgba(115, 115, 115, 1);
   font-size: 24px;
   font-weight: 500;
   text-decoration: underline;
   text-transform: uppercase;
   letter-spacing: 5px;
   text-align: center;
   margin-bottom: 50px;
}

.plan__list {
   margin: 0 auto;
   max-width: 270px;
   padding-top: 16px;
   padding-bottom: 16px;
}

.plan__item {
   margin-bottom: 15px;
   /* запобіжник */
   min-height: 32px;
}

.plan__link {
   color: #252b42;
   font-size: 14px;
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
   line-height: 1.71;
   /* 24/14 */
   letter-spacing: .20000000298023224px;
   padding-left: 42px;
   padding-top: 4px;
   padding-bottom: 4px;
}

.plan__item--active {
   background: url("../img/learn/check-active.svg") 0 0 / contain no-repeat;
}

.plan__item--not-active {
   background: url("../img/learn/check-not-active.svg") 0 0 / contain no-repeat;
}


/* ====================creative page======================= */


.blocks {}

.title {
   text-align: center;
   font-size: 46px;
   font-weight: 700;
   text-decoration: underline;
   padding-top: 50px;
   margin-bottom: 50px;
}

.blocks__container {
   margin-bottom: 80px;
}

.block1,
.block2,
.block3,
.block4,
.opacity1,
.opacity2,
.visibility1,
.visibility2 {
   display: inline-block;
   width: 300px;
   height: 300px;
   margin-right: 50px;
}

.block1 {
   background: #5d3ab4;
   background: linear-gradient(90deg, rgba(93, 58, 180, 1) 0%,
         rgba(253, 29, 29, 1) 17%, rgba(252, 176, 69, 1) 36%,
         rgba(147, 232, 56, 1) 53%, rgba(42, 235, 212, 1) 72%,
         rgba(206, 69, 252, 1) 90%);
   border-top: 7px solid rgb(215, 158, 0);
   border-right: 4px dotted rgb(15, 16, 133);
   border-bottom: 8px dashed rgb(51, 212, 18);
   border-left: 5px double rgb(0, 129, 41);
}

.block2 {
   border: 3px solid yellow;
   border-radius: 50%;
   background: #5d3ab4;
   background: radial-gradient(circle, rgba(93, 58, 180, 1) 0%,
         rgba(253, 29, 29, 1) 17%, rgba(252, 176, 69, 1) 36%,
         rgba(147, 232, 56, 1) 53%, rgba(42, 235, 212, 1) 72%,
         rgba(206, 69, 252, 1) 90%);
   box-shadow: 6px 10px 10px 13px rgba(56, 243, 5, 0.961);
}

.block3 {
   border: 6px double chocolate;
   border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
   background: #210808;
   background: radial-gradient(circle, rgba(33, 8, 8, 0.93) 0%,
         rgba(255, 255, 255, 1) 2%, rgba(29, 96, 253, 1) 13%,
         rgba(105, 60, 5, 1) 27%, rgba(145, 247, 35, 0.91) 49%,
         rgba(145, 0, 0, 0.85) 70%, rgba(69, 252, 209, 0.75) 90%);

}

.block4 {
   background-color: #5d3ab4;
   border-radius: 16px;
   box-shadow: inset 6px 10px 10px 13px rgba(255, 255, 0, 0.877);
}

.block5 {
   padding: 30px 300px;
   background:
      url("../img/bg/bg2.jpg") top left / contain no-repeat,
      url("../img/bg/bg3.jpg") top right / contain no-repeat,
      url("../img/bg/bg4.jpg") 50% / contain no-repeat;
}

.block5 p {
   font-size: 22px;
   font-weight: 500;
   line-height: 1.2;
   text-shadow: 1px 1px 1px #210808;
}


/* ============================ */

.opacity {}

.opacity__container {}

.opacity1,
.opacity2,
.visibility1,
.visibility2 {
   background-color: #fe00b6;
}


.opacity1 {
   opacity: 0.1;
}

.opacity2 {
   opacity: 0.3;
}

.visibility {}

.visibility__container {}

.visibility1 {
   visibility: hidden;
}

.visibility2 {
   visibility: visible;
}

/* ========================== */

.tigra__text {
   background-image: url("../img/bg/514550-PIJYFU-732.jpg");
   background-clip: text;
}

.tigra__text p {
   color: transparent;
   font-size: 32px;
   font-weight: 700;

}