/* файл скидання стилів */
@import url(reset.css);
/* файл підключення локальних шрифтів */
@import url(fonts.css);

[class*="__container"] {
   max-width: 1400px;
   margin: 0 auto;
   padding-inline: 15px;
}


body {
   font-family: "Poppins", sans-serif;
   font-size: 18px;
}

/* ============= hero ================ */

.hero__title {
   font-family: "Gambetta", serif;
   font-size: 36px;
   font-weight: 700;
   text-align: center;
   letter-spacing: 5px;
   text-transform: uppercase;
   color: rgb(63, 58, 25);
   text-shadow: -15px 6px 8px rgb(28, 59, 232);
   line-height: 1.2;
}

.hero__text {}

.hero__text p {
   line-height: 1.6;
}

.hero__text span {
   text-transform: uppercase;
   font-weight: 700;
   color: red;
}

.hero__text mark {
   text-decoration: line-through;
}

.hero__text a {
   color: blue;
   font-weight: 500;
   text-decoration: underline;
}

.hero__letter-spacing p {
   letter-spacing: 5px;
}

.hero__word-spacing p {
   letter-spacing: 15px;
}

.hero__word-spacing p,
.hero__letter-spacing p {
   line-height: 1.6;
}

.hero__italic p {
   font-family: "Gambetta", serif;
   font-style: italic;
   text-align: right;
}

.hero__italic~p {
   color: red;
   text-align: justify;
}

.hero__shadow p {
   line-height: 1.4;
   text-shadow: 0px 0px 10px rgba(181, 23, 23, 0.8);
}

.hero__white-space p {
   white-space: nowrap;
}

.hero__pre-wrap p {
   white-space: pre-wrap;
   color: rgba(181, 23, 23, 0.4);
}

.hero__capitalize {
   text-transform: capitalize;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.4;
}

.hero__lowercase {
   text-transform: lowercase;
   font-size: 16px;
   line-height: 1.4;
}

.hero__uppercase {
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 22px;
   line-height: 1.2;

}

.hero__capitalize,
.hero__lowercase,
.hero__uppercase {
   font-family: "Robotto", serif;
}

.dotted,
.double,
.dashed {
   text-decoration: underline;
   line-height: 1.4;
}

.dotted {
   text-decoration-style: dotted;
}

.double {
   text-decoration-style: double;
}

.dashed {
   text-decoration-style: dashed;
}

.ending {
   font-family: "Gambetta", serif;
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 5px;
   line-height: 1.6;

   text-align: center;
   text-transform: uppercase;
   text-decoration: underline;
   text-decoration-style: wavy;
   text-decoration-color: blue;
   color: rgb(247, 243, 19);
   text-shadow: -32px -15px 3px rgba(42, 121, 249, 0.812),
      1px 1px 6px black;
}